* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
    background-color: #ededed;
    color: #333;
    font-family: 'Roboto', sans-serif;
}

.flex-container{
    display: flex;
    flex-direction: column;
}

.content{
    flex:1;
}

footer{
    position: absolute;
    right: 50%;
    bottom: 0;
    flex: 1;
    margin-bottom: 25px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
    font-weight: 600; 
}

.cofa {
    background-color: #ededed;
}

input[type='color'] {
    -webkit-appearance: none;
    width: 80px;
    height: 80px;
    border: none;
  }
  
  input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
  }
  
  input[type='color']::-webkit-color-swatch {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  

.title{
    margin: 50px auto;
    display: flex;
    justify-content: center;
    font-size: 35px;
}

.board{
    width: 500px;
    height: 500px;
    display: grid;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 30px;
    padding: 15px;
    cursor: pointer;
}

button{
    width: 100px;
    height: 25px;
}

.input{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

input[type='range'] {
    -webkit-appearance: none;
    background-color: white;
  }
  
  input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    border: 1px solid #333;
    border-radius: 25px;
    background: #ededed;
  }
  
  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 25px;
    margin-top: -8px;
    background: #333;
  }

  label{
    font-size: 21px;
    margin-bottom: -15px;
  }